/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.todo-list {
    width: fit-content;
}

.todo-list > li{
    list-style: none;
}

.todo-list > li > div{
    display: inline-block;
}